body {
  background-color: #b8cbd8;
  font-family: Helvetica, Arial;
}

#login {
  text-align: left;
  border-bottom: 5px solid blue;
  padding: 7px;
}

#title {
  text-align: center;
  padding: 3px;
  border-bottom: 5px solid blue;
}
