body {
  background-color: #b8cbd8;
  font-family: Helvetica, Arial;
}

#login {
  text-align: left;
  border-bottom: 5px solid blue;
  padding: 7px;
}

#title {
  text-align: center;
  padding: 3px;
  border-bottom: 5px solid blue;
}

#addTopic {
  text-align: center;
  padding: 5px;
  background-color: #60a4d2;
  margin: 10px;
}

#individualPost {
  text-align: center;
  padding: 10px;
  background-color: #60a4d2;
  margin: 10px;
}

#stylePost {
  font-weight: 400;
  font-size: 20px;
}

.mssg {
  color: blue;
  font-weight: 400;
  font-size: 20px;
  padding: 7px;
}

#container {
  text-align: center;
  padding: 5px;
  background-color: #60a4d2;
}

#textArea {
  width: 300px;
  padding: 3px;
}

#postButton {
  padding: 3px;
}

#likesSection {
  padding: 5px;
  color: blue;
}

#likesDislikes {
  padding: 5px;
}
